<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PranayKaDhaba.Properties.Settings.testConnectionString1"
            connectionString="server=localhost;user id=root;password=toor;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>